.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.radio-box {
    width: 100%;
    background-color: #Fff;
    height: 29px;
}

#progressBar {
    width: 340px;
    height: 340px;
    left: 10%;
    top: -0.5%;
    /* background-color: pink; */
    position: absolute;
}

.apply {
    width: 100%;
    height: 5px;
    background-color: #cacaca;
}

#similarity {
    width: 240px;
    height: 240px;
    position: absolute;
    overflow: hidden;
    left: 23%;
    top: 21.5%;
}