.box {
    width: 100%;
    height: 100%;
    display: flex;
}

.container {
    width: 100%;
    height: 100%;
    flex: 5;
}

.barBox {
    width: 100%;
    height: 100%;
    flex: 3;
}

.infoList {
    width: 100%;
    height: 25%;
}

.bar {
    width: 442px;
    height: 100%;
}